!.gitkeep
tmp/*
**.orig
.DS_Store
*.log
*.log.*
cp.sh
/bin
/pkg
/src/github.com

# Mac
.DS_Store

# Windows
Thumbs.db

# NetBeans
nbproject

# Eclipse
.project

# Rubinius
*.rbc

# Vim
*.swp
*.swo

# RubyMine
.idea

# Backup
*~

#rvm
.rvmrc
.rvmrc.*

#rubymine
.idea/
