<?xml version='1.0' encoding='utf-8'?>

<plugin id="com.frankgreen" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>ACR-NFC-Reader-PhoneGap-Plugin</name>
  <js-module name="ACR-NFC-Reader-PhoneGap-Plugin" src="www/ACR-NFC-Reader-PhoneGap-Plugin.js">
    <clobbers target="cordova.plugins.ACR-NFC-Reader-PhoneGap-Plugin" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="ACRNFCReaderPhoneGapPlugin">
        <param name="android-package" value="com.frankgreen.ACRNFCReaderPhoneGapPlugin" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.BLUETOOTH"/>
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
      <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    </config-file>
    <source-file src="src/android/com/frankgreen/ACRNFCReaderPhoneGapPlugin.java" target-dir="src/com/frankgreen" />
    <source-file src="src/android/com/frankgreen/NFCReader.java" target-dir="src/com/frankgreen" />
    <source-file src="src/android/com/frankgreen/Util.java" target-dir="src/com/frankgreen" />
    <source-file src="src/android/com/frankgreen/Chip.java" target-dir="src/com/frankgreen" />
    <source-file src="src/android/com/frankgreen/ChipMeta.java" target-dir="src/com/frankgreen" />
    <source-file src="src/android/com/frankgreen/ATR.java" target-dir="src/com/frankgreen" />
    <source-file src="src/android/com/frankgreen/ATRHistorical.java" target-dir="src/com/frankgreen" />
    <source-file src="src/android/com/frankgreen/ACRDevice.java" target-dir="src/com/frankgreen" />

    <!--apdu-command-->
    <source-file src="src/android/com/frankgreen/apdu/command/Base.java" target-dir="src/com/frankgreen/apdu/command" />
    <source-file src="src/android/com/frankgreen/apdu/command/UID.java" target-dir="src/com/frankgreen/apdu/command" />
    <source-file src="src/android/com/frankgreen/apdu/command/UpdateBinaryBlock.java" target-dir="src/com/frankgreen/apdu/command" />
    <source-file src="src/android/com/frankgreen/apdu/command/ReadBinaryBlock.java" target-dir="src/com/frankgreen/apdu/command" />
    <source-file src="src/android/com/frankgreen/apdu/command/Authentication.java" target-dir="src/com/frankgreen/apdu/command" />
    <source-file src="src/android/com/frankgreen/apdu/command/LoadAuthentication.java" target-dir="src/com/frankgreen/apdu/command" />
    <source-file src="src/android/com/frankgreen/apdu/command/Reset.java" target-dir="src/com/frankgreen/apdu/command" />
    <source-file src="src/android/com/frankgreen/apdu/OnGetResultListener.java" target-dir="src/com/frankgreen/apdu" />
    <source-file src="src/android/com/frankgreen/apdu/Result.java" target-dir="src/com/frankgreen/apdu" />
    <source-file src="src/android/com/frankgreen/apdu/command/ClearCLD.java" target-dir="src/com/frankgreen/apdu/command" />
    <source-file src="src/android/com/frankgreen/apdu/command/SelectFile.java" target-dir="src/com/frankgreen/apdu/command" />
    <source-file src="src/android/com/frankgreen/apdu/command/Display.java" target-dir="src/com/frankgreen/apdu/command" />
    <source-file src="src/android/com/frankgreen/apdu/command/GetVersion.java" target-dir="src/com/frankgreen/apdu/command" />
    <source-file src="src/android/com/frankgreen/apdu/command/GetFirmwareVersion.java" target-dir="src/com/frankgreen/apdu/command" />
    <source-file src="src/android/com/frankgreen/apdu/command/card/CardCommand.java" target-dir="src/com/frankgreen/apdu/command/card" />
    <source-file src="src/android/com/frankgreen/apdu/command/ToDataString.java" target-dir="src/com/frankgreen/apdu/command" />
    <source-file src="src/android/com/frankgreen/apdu/command/card/InitChip.java" target-dir="src/com/frankgreen/apdu/command/card" />
    <source-file src="src/android/com/frankgreen/apdu/command/card/NTagAuth.java" target-dir="src/com/frankgreen/apdu/command/card" />
    <source-file src="src/android/com/frankgreen/apdu/command/card/StartSession.java" target-dir="src/com/frankgreen/apdu/command/card" />
    <source-file src="src/android/com/frankgreen/apdu/command/card/StopSession.java" target-dir="src/com/frankgreen/apdu/command/card" />
    <source-file src="src/android/com/frankgreen/apdu/command/PICCOperatingParameter.java" target-dir="src/com/frankgreen/apdu/command" />
    <source-file src="src/android/com/frankgreen/apdu/command/GetReceivedData.java" target-dir="src/com/frankgreen/apdu/command" />
    <source-file src="src/android/com/frankgreen/apdu/command/GetLedStatus.java" target-dir="src/com/frankgreen/apdu/command" />
    <source-file src="src/android/com/frankgreen/apdu/command/AutoStartPolling.java" target-dir="src/com/frankgreen/apdu/command" />

    <!--params-->
    <source-file src="src/android/com/frankgreen/params/Params.java" target-dir="src/com/frankgreen/params" />
    <source-file src="src/android/com/frankgreen/params/WriteParams.java" target-dir="src/com/frankgreenparams" />
    <source-file src="src/android/com/frankgreen/params/ReadParams.java" target-dir="src/com/frankgreen/params" />
    <source-file src="src/android/com/frankgreen/params/AuthParams.java" target-dir="src/com/frankgreen/params" />
    <source-file src="src/android/com/frankgreen/params/DisplayParams.java" target-dir="src/com/frankgreen/params" />
    <source-file src="src/android/com/frankgreen/params/ClearLCDParams.java" target-dir="src/com/frankgreen/params" />
    <source-file src="src/android/com/frankgreen/params/BaseParams.java" target-dir="src/com/frankgreen/params" />
    <source-file src="src/android/com/frankgreen/params/InitNTAGParams.java" target-dir="src/com/frankgreen/params" />
    <source-file src="src/android/com/frankgreen/params/SelectFileParams.java" target-dir="src/com/frankgreen/params" />
    <source-file src="src/android/com/frankgreen/params/PICCOperatingParameterParams.java" target-dir="src/com/frankgreen/params" />
    <source-file src="src/android/com/frankgreen/params/ConnectParams.java" target-dir="src/com/frankgreen/params" />
    <source-file src="src/android/com/frankgreen/params/DisconnectParams.java" target-dir="src/com/frankgreen/params" />

    <!--task-->
    <source-file src="src/android/com/frankgreen/task/StopSessionTimerTask.java" target-dir="src/com/frankgreen/task" />
    <source-file src="src/android/com/frankgreen/task/ReadTask.java" target-dir="src/com/frankgreen/task" />
    <source-file src="src/android/com/frankgreen/task/WriteTask.java" target-dir="src/com/frankgreen/task" />
    <source-file src="src/android/com/frankgreen/task/ResetTask.java" target-dir="src/com/frankgreen/task" />
    <source-file src="src/android/com/frankgreen/task/TaskWithPassword.java" target-dir="src/com/frankgreen/task" />
    <source-file src="src/android/com/frankgreen/task/WriteAuthenticateTask.java" target-dir="src/com/frankgreen/task" />
    <source-file src="src/android/com/frankgreen/task/AuthenticateWithKeyA.java" target-dir="src/com/frankgreen/task" />
    <source-file src="src/android/com/frankgreen/task/AuthenticateWithKeyB.java" target-dir="src/com/frankgreen/task" />
    <source-file src="src/android/com/frankgreen/task/UIDTask.java" target-dir="src/com/frankgreen/task" />
    <source-file src="src/android/com/frankgreen/task/DisplayTask.java" target-dir="src/com/frankgreen/task" />
    <source-file src="src/android/com/frankgreen/task/ClearLCDTask.java" target-dir="src/com/frankgreen/task" />
    <source-file src="src/android/com/frankgreen/task/SelectFileTask.java" target-dir="src/com/frankgreen/task" />
    <source-file src="src/android/com/frankgreen/task/GetVersionTask.java" target-dir="src/com/frankgreen/task" />
    <source-file src="src/android/com/frankgreen/task/InitNTAGTask.java" target-dir="src/com/frankgreen/task" />
    <source-file src="src/android/com/frankgreen/task/GetFirmwareVersionTask.java" target-dir="src/com/frankgreen/task" />
    <source-file src="src/android/com/frankgreen/task/PICCOperatingParameterTask.java" target-dir="src/com/frankgreen/task" />
    <source-file src="src/android/com/frankgreen/task/GetReceivedDataTask.java" target-dir="src/com/frankgreen/task" />
    <source-file src="src/android/com/frankgreen/task/GetLedStatusTask.java" target-dir="src/com/frankgreen/task" />
    <source-file src="src/android/com/frankgreen/task/TaskListener.java" target-dir="src/com/frankgreen/apdu" />
    <source-file src="src/android/com/frankgreen/task/AbstractTaskListener.java" target-dir="src/com/frankgreen/apdu" />
    <source-file src="src/android/com/frankgreen/task/GetBatteryLevelTask.java" target-dir="src/com/frankgreen/apdu" />
    <source-file src="src/android/com/frankgreen/task/ConnectTask.java" target-dir="src/com/frankgreen/apdu" />
    <source-file src="src/android/com/frankgreen/task/DisconnectTask.java" target-dir="src/com/frankgreen/apdu" />

    <source-file src="src/android/com/frankgreen/reader/ACRReader.java" target-dir="src/com/frankgreen/reader" />
    <source-file src="src/android/com/frankgreen/reader/USBReader.java" target-dir="src/com/frankgreen/reader" />
    <source-file src="src/android/com/frankgreen/reader/BTReader.java" target-dir="src/com/frankgreen/reader" />
    <source-file src="src/android/com/frankgreen/reader/ACRReaderException.java" target-dir="src/com/frankgreen/reader" />
    <source-file src="src/android/com/frankgreen/reader/OnDataListener.java" target-dir="src/com/frankgreen/reader" />

    <!--operate-->
    <source-file src="src/android/com/frankgreen/operate/ConnectReader.java" target-dir="src/com/frankgreen/operate" />
    <source-file src="src/android/com/frankgreen/operate/DisconnectReader.java" target-dir="src/com/frankgreen/operate" />
    <source-file src="src/android/com/frankgreen/operate/CustomDevice.java" target-dir="src/com/frankgreen/operate" />
    <source-file src="src/android/com/frankgreen/operate/OperateDataListener.java" target-dir="src/com/frankgreen/operate" />
    <source-file src="src/android/com/frankgreen/operate/OperateResult.java" target-dir="src/com/frankgreen/operate" />

    <source-file src="src/android/libs/acssmc-1.1.2.jar" target-dir="libs" />
    <source-file src="src/android/libs/acsbt-1.0.0preview7.jar" target-dir="libs"/>
    <source-file src="src/android/com/frankgreen/Utils.java" target-dir="src/android/com/frankgreen"/>
  </platform>
</plugin>
